body {
    text-align: center;
}

#codeViewBox {
    font-size: 2.5em;
    line-height: 20px;
    word-wrap: break-word;
    overflow-y: hidden;
    width: 350px;
    height: 200px;
    margin: auto;
    border: black solid;

}