body {
    background-color: burlywood;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#codeViewBox {
    text-align: left;
    font-size: 2.5em;
    line-height: 30px;
    word-wrap: break-word;
    overflow-y: hidden;
    width: 350px;
    height: 200px;
    margin: auto;
    border: black solid;

}

#resultViewBox {
    text-align: left;
    font-size: 1.5em;
    line-height: 30px;
    word-wrap: break-word;
    overflow-y: hidden;
    width: 350px;
    height: 200px;
    margin: auto;
    border: black solid;

}

button {
    background-color: burlywood;
    font-size: 1.25em;
}

button:hover {
    background-color: rgb(185, 154, 113);
}